# This workflow will build a package using Maven and then publish it to GitHub packages when a release is created
# For more information see: https://github.com/actions/setup-java/blob/main/docs/advanced-usage.md#apache-maven-with-a-settings-path

name: Maven Package Workflow 

on:
  release:
    types: [created]

jobs:
  build:

    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 24
      uses: actions/setup-java@v4
      with:
        java-version: '24'
        distribution: 'temurin'
        server-id: github # Value of the distributionManagement/repository/id field of the pom.xml
        settings-path: ${{ github.workspace }} # location for the settings.xml file

    - name: Cache Maven packages
      uses: actions/cache@v3
      with:
          path: ~/.m2
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml')}}
          restore-keys:   |
               ${{ runner.os }}-maven-

    - name: Install Maven Dependencies
      run: mvn install -DskipTests

    - name: Run Tests
      run: mvn test

    - name: Generate Cucumber HTML Report 
      run: mvn exec:java-Dexec.mainClass="reportsGenerator.CucumberReportGenerator"

    - name: Copy report to documents
      run: |
          mkdir -p docs
          cp -r target/cucumber-reports/* docs/
      
    - name: Commit HTML report to repo
      env:
        GITHUB_TOKEN: ${{ github.token }}
      run: |
        git config --global user.name 'github-actions'
        git config --global user.email 'github-actions@github.com'
        git add docs/
        git commit -m "Update Cucumber HTML Report [skip ci]" || echo "No changes to commit"
        git push https://x-access-token:${GITHUB_TOKEN}@github.com/${{github.repository}} HEAD:master
